<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello world!</title>
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{rotuloParaEnvios.css}" accesskey="true">
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{../main.css}" accesskey="true">
  </head>
  <body>
    <h1>
      <b>POLÍTICAS DE PRIVACIDAD Y TRATAMIENTO DE DATOS</b>
    </h1>
    <p>
      <b>{{tratadorDatos.nombreEmpresa}}</b>, empresa legalmente constituida,
      identificada con nit <b>{{tratadorDatos.numeroDocumentoEmpresa}}</b>, en
      Colombia, que tiene como principal objetivo la actividad de
      <b>{{tratadorDatos.principalActividadEmpresa}}</b> que de ahora en
      adelante se llamará el Tratador de los Datos Personales. Nuestros sistemas
      llevan a cabo automáticamente el tratamiento de la información que
      recogemos y conservamos asociada contigo y con otras personas para conocer
      y evaluar tus intereses y preferencias, y proporcionarte experiencias
      personalizadas en los productos de acuerdo con las siguientes políticas.
    </p>
    <p>
      <b>{{tratadorDatos.nombreEmpresa}}</b>, por medio del presente documento
      informa su Política de Proteccion y Tratamiento de Datos Personales, en
      cumplimiento con lo dispuesto en la Ley 1581 de 2012 sobre el recaudo de
      <i>datos personales y datos sensibles</i>, sus decretos reglamentarios y
      demás normatividad que la complemente, modifique o adicione. Esto con el
      fin de fortalecer la confianza y proteger la información personal
      brindados por los titulares puesta a disposición de
      <b>{{tratadorDatos.nombreEmpresa}}</b>, como lo son socios, proveedores,
      clientes, empleados, colaboradores y cualquier otra persona natural o
      juridica involucrada.
    </p>
    <h2>
      <b>I. DEFINICIONES:</b>
    </h2>
    <p>
      Para los efectos de la presente Política, se tendrán en cuenta las
      siguientes definiciones:
    </p>

    <ul>
      <li>
        “Dato Personal”: Cualquier información vinculada o que pueda asociarse a
        una o varias personas naturales determinadas o determinables.
      </li>
      <li>
        “Dato Público”: Es el dato que no sea semiprivado, privado o sensible.
        Son considerados datos públicos, entre otros, los datos relativos al
        estado civil de las personas, a su profesión u oficio y a su calidad de
        comerciante o de servidor público. Por su naturaleza, los datos públicos
        pueden estar contenidos, entre otros, en registros públicos, documentos
        públicos, gacetas y boletines oficiales y sentencias debidamente
        ejecutoriadas que no estén sometidas a reserva.
      </li>
      <li>
        “Datos Sensibles”: Son aquellos que afectan la intimidad del titular o
        cuyo uso indebido puede generar su discriminación, tales como aquellos
        que revelen el origen racial o étnico, la orientación política, las
        convicciones religiosas o filosóficas, la pertenencia a sindicatos,
        organizaciones sociales, de derechos humanos o que promueva intereses de
        cualquier partido político o que garanticen los derechos y garantías de
        partidos políticos de
      </li>
    </ul>
    <ul>
      <li>
        oposición así como los datos relativos a la salud, a la vida sexual y
        los datos biométricos.
      </li>
      <li>
        “Autorización”: Consentimiento previo, expreso e informado del titular
        para llevar a cabo el tratamiento de datos personales.
      </li>
      <li>
        “Aviso de privacidad”: Comunicación verbal o escrita generada por el
        Responsable, dirigida al Titular para el Tratamiento de sus datos
        personales, mediante la cual se le informa acerca de la existencia de
        las políticas de Tratamiento de información que le serán aplicables, la
        forma de acceder a las mismas y las finalidades del Tratamiento que se
        pretende dar a los datos personales.
      </li>
      <li>
        Violación de datos personales: Es el delito tipificado en el artículo
        269 del Código Penal. El cual establece: “El que, sin estar facultado
        para ello, con provecho propio o de un tercero, obtenga, compile,
        sustraiga, ofrezca, venda, intercambie, envíe, compre, intercepte,
        divulgue, modifique o emplee códigos personales, datos personales
        contenidos en ficheros, archivos, bases de datos o medios semejantes,
        incurrirá en pena de prisión de cuarenta y ocho (48) a noventa y seis
        (96) meses y en multa de 100 a 1000 salarios mínimos legales mensuales
        vigentes.”
      </li>
      <li>
        “Base de datos”: Conjunto organizado de datos personales que sea objeto
        de tratamiento.
      </li>
      <li>
        “Tratamiento”: Cualquier operación o conjunto de operaciones sobre datos
        personales, tales como la recolección, almacenamiento, uso, circulación
        o supresión.
      </li>
      <li>
        “Encargado del Tratamiento”: Persona natural o jurídica, pública o
        privada, que por sí misma o en asocio con otros, realice el tratamiento
        de datos personales por cuenta del responsable del tratamiento.
      </li>
      <li>
        “Responsable del Tratamiento”: Persona natural o jurídica, pública o
        privada, que por sí misma o en asocio con otros, decida sobre la base de
        datos y/o el tratamiento de los datos. Para los efectos de esta
        política, el Responsable del Tratamiento es
        <b>{{tratadorDatos.nombreEmpresa}}</b>.
      </li>
      <li>
        “Titular”: Persona natural cuyos datos personales sean objeto de
        Tratamiento.
      </li>
      <li>
        “Transferencia”: La transferencia de datos tiene lugar cuando el
        Responsable y/o Encargado del Tratamiento de datos personales, ubicado
        en Colombia, envía la información o los datos personales a un receptor,
        que a su vez es Responsable del Tratamiento y se encuentra dentro o
        fuera del país.
      </li>
      <li>
        “Transmisión”: Tratamiento de datos personales que implica la
        comunicación de los mismos dentro o fuera del territorio de la República
        de Colombia cuando tenga por objeto la realización de un Tratamiento por
        el Encargado por cuenta del Responsable.
      </li>
    </ul>
    <h2>
      <b>II. PRINCIPIOS RECTORES</b>
    </h2>
    <p>
      En el desarrollo, interpretación y aplicación de la ley, regulaciones, y
      normatividad vigente, se aplicarán, de manera armónica e integral, los
      siguientes principios:
    </p>

    <ul>
      <li>
        Principio de Legalidad en Materia de Tratamiento de Datos: El
        Tratamiento es una actividad reglada que debe sujetarse a lo establecido
        en la Ley 1581 del 17 de octubre de 2012, decretos reglamentarios y
        demás disposiciones que la desarrollen.
      </li>
      <li>
        Principio de Finalidad: El Tratamiento debe obedecer a una finalidad
        legítima de acuerdo con la Constitución y la Ley, la cual debe ser
        informada al Titular.
      </li>
      <li>
        Principio de Libertad: El Tratamiento sólo puede ejercerse con el
        consentimiento, previo, expreso e informado del Titular. Los datos
        personales no podrán ser obtenidos o divulgados sin previa autorización,
        o en ausencia de mandato legal o judicial que releve el consentimiento.
      </li>
      <li>
        Principio de Veracidad o Calidad: La información sujeta a Tratamiento
        debe ser veraz, completa, exacta, actualizada, comprobable y
        comprensible. Se prohíbe el Tratamiento de Datos parciales, incompletos,
        fraccionados o que induzcan a error.
      </li>
      <li>
        Principio de Transparencia: En el Tratamiento debe garantizarse el
        derecho del Titular a obtener del responsable del Tratamiento o del
        Encargado del Tratamiento, en cualquier momento y sin restricciones,
        información acerca de la existencia de datos que le concierne.
      </li>
      <li>
        Principio de Acceso y Circulación Restringida: El Tratamiento se sujeta
        a los límites que se derivan de la naturaleza de los datos personales,
        de las disposiciones de la ley y la Constitución. En este sentido, el
        Tratamiento sólo podrá hacerse por personas autorizadas por el Titular
        y/o por las personas previstas en la ley.
      </li>
      <li>
        Principio de Seguridad: La información sujeta a Tratamiento por el
        responsable del Tratamiento o Encargado del Tratamiento a que se refiere
        la ley, se deberá manejar con las medidas técnicas, humanas y
        administrativas que sean necesarias para otorgar seguridad a los
        registros evitando su adulteración, pérdida, consulta, uso o acceso no
        autorizado o fraudulento.
      </li>
      <li>
        Principio de Confidencialidad: Todos los funcionarios y contratistas que
        intervengan en el Tratamiento de Datos Personales que no tengan la
        naturaleza de públicos están obligadas a garantizar la reserva de la
        información, inclusive después de finalizada su relación con alguna de
        las labores que comprende el Tratamiento, pudiendo sólo realizar
        suministro o comunicación de datos personales cuando ello corresponda al
        desarrollo
      </li>
    </ul>
    <Page>
      <ul>
        <li>
          de las actividades autorizadas en la ley y en los términos de la
          misma. El Tratador de los Datos Personales se compromete a tratar los
          datos personales de los titulares tal y como lo define el literal g)
          del artículo 3 de la Ley 1581 de 2012 de forma absolutamente
          confidencial haciendo uso de estos, exclusivamente, para las
          finalidades indicadas en el apartado anterior, siempre que el titular
          no se haya opuesto a dicho tratamiento. El Tratador de los Datos
          Personales informa que tiene implantadas las medidas de seguridad de
          índole técnica y organizativas necesarias que garanticen la seguridad
          de sus datos personales y eviten su alteración, pérdida, tratamiento
          y/o acceso no autorizado.
        </li>
        <li>
          Principio de temporalidad: Los datos personales se conservarán
          únicamente por el tiempo razonable y necesario para cumplir las
          finalidades que justificaron el tratamiento, atendiendo a las
          disposiciones aplicables a la materia de que se trate y a los aspectos
          administrativos, contables, fiscales, jurídicos e históricos de la
          información. Los datos serán conservados cuando ello sea necesario
          para el cumplimiento de una obligación legal o contractual. Una vez
          cumplida la finalidad del tratamiento y los términos establecidos
          anteriormente, se procederá a la supresión de los datos.
        </li>
        <li>
          Interpretación integral de los derechos constitucionales: Los derechos
          se interpretarán en armonía y en un plano de equilibrio con el derecho
          a la información previsto en el artículo 20 de la Constitución y con
          los derechos constitucionales aplicables.
        </li>
        <li>
          Principio de Necesidad: Los datos personales tratados deben ser los
          estrictamente necesarios para el cumplimiento de las finalidades
          perseguidas con la base de datos.
        </li>
      </ul>

      <h2>
        <b>
          III. FINALIDADES DEL TRATAMIENTO DE LA INFORMACIÓN SUMINISTRADA POR
          NUESTROS ASOCIADOS Y TERCEROS
        </b>
      </h2>
      <p>
        La información que sea suministrada a el Tratador de los Datos
        Personales por el titular del dato, podrá ser usada, almacenada,
        administrada, circulada, y compartida por ésta, para cualquiera de las
        siguientes finalidades:
      </p>

      <ul>
        <li>
          Llevar a cabo el proceso de asociación ante el Tratador de los Datos
          Personales, así como gestionar cualquier actividad, beneficio o
          requerimiento;
        </li>
        <li>
          Prestar los servicios ofrecidos por el Tratador de los Datos
          Personales.
        </li>
        <li>
          Hacer encuestas, estudios e investigaciones de mercado y tendencias
          relacionadas con los servicios que presta Tratador de los Datos
          Personales;
        </li>
        <li>
          Procesar pagos que se deban realizar a favor de el Tratador de los
          Datos Personales;
        </li>
      </ul>
    </Page>

    <Page>
      <ul>
        <li>
          Remitir información y comunicaciones de cualquier naturaleza,
          incluyendo, entre otros, sobre beneficios, eventos y actividades de
          Tratador de los Datos Personales;
        </li>
        <li>
          Fines internos de operación, gestión y administración de Tratador de
          los Datos Personales;
        </li>
        <li>
          Controlar las solicitudes relacionadas con los servicios prestados por
          el Tratador de los Datos Personales.
        </li>
        <li>Remitir las respuestas de las consultas a los usuarios.</li>
        <li>
          Dar a conocer los servicios ofrecidos por el Tratador de los Datos
          Personales.
        </li>
        <li>Realizar campañas, actividades de divulgación y capacitaciones.</li>
        <li>
          Elaborar estudios, estadísticas, encuestas, análisis de tendencias,
          relacionados con los servicios que presta el Tratador de los Datos
          Personales.
        </li>
        <li>
          Gestionar la información necesaria para el cumplimiento de las
          obligaciones tributarias, contractuales, comerciales y de registros
          comerciales, corporativos y contables.
        </li>
        <li>Evaluar la calidad de los servicios prestados.</li>
        <li>
          Mejorar las iniciativas promocionales de la oferta de prestación de
          servicios y actualización de productos del Tratador de los Datos
          Personales.
        </li>
        <li>
          Las demás finalidades que se determinen en procesos de obtención de
          Datos Personales para su tratamiento, y, en todo caso, de acuerdo con
          la Ley.
        </li>
        <li>
          Responder cualquier solicitud, petición, queja o reclamo que se
          presente ante el Tratador de los Datos Personales;
        </li>
        <li>
          Utilizar su imagen e información, así como el material fotográfico y
          audiovisual obtenido en las diferentes actividades y eventos
          realizados para:
          <ul>
            <li>
              Dejar constancia de las actividades o eventos desarrollados;
            </li>
            <li>
              Publicarlos como parte de campañas informativas en cualquier medio
              de comunicación;
            </li>
            <li>
              Utilizarlos en la página web, redes sociales y cualquier otro
              canal, todo lo anterior, bajo el entendido que el uso del material
              fotográfico y audiovisual para los fines informados no otorga
              derecho alguno de compensación o reconocimiento económico al
              Titular;
            </li>
          </ul>
        </li>
        <li>
          Realizar procesos de contratación de empleados y proveedores, así como
          desarrollar la relación laboral o contractual con éstos.
        </li>
      </ul>
    </Page>

    <Page>
      <h2>
        <b>IV. AUTORIZACIÓN Y ALMACENAMIENTO DE LOS DATOS:</b>
      </h2>

      <p>
        La Autorización podrá ser obtenida por el Tratador de los Datos
        Personales de forma escrita de manera electrónica que permita garantizar
        su posterior consulta, así como mediante cualquier otro mecanismo idóneo
        o conducta inequívoca que permita determinar su consentimiento.
      </p>

      <p>
        <b>{{tratadorDatos.nombreEmpresa}}</b> podrá utilizar los datos según
        los fines informados para contactar al titular a través de su correo
        electrónico, mensajería instantánea, redes sociales o telefónicamente.
      </p>

      <p>
        Los datos podrán ser almacenados en servidores propios de
        <b>{{tratadorDatos.nombreEmpresa}}</b> o de terceros dentro o fuera de
        Colombia. Para tales efectos, el Tratador de los Datos Personales
        garantizará el adecuado cumplimiento de los requerimientos legales en
        materia de transferencia y transmisión de datos, según el marco legal
        vigente.
      </p>

      <p>
        <b>V. Derechos del Titular:</b>
      </p>

      <p>El Titular de los datos personales tendrá los siguientes derechos:</p>

      <ul>
        <li>
          Conocer, actualizar y rectificar sus datos personales frente a los
          Responsables del Tratamiento o Encargados del Tratamiento. Este
          derecho se podrá ejercer, entre otros frente a datos parciales,
          inexactos, incompletos, fraccionados, que induzcan a error, o aquellos
          cuyo Tratamiento esté expresamente prohibido o no haya sido
          autorizado;
        </li>
        <li>
          Solicitar prueba de la autorización otorgada al Responsable del
          Tratamiento salvo cuando expresamente se exceptúa como requisito para
          el Tratamiento, de conformidad con lo previsto en el artículo 10 de la
          presente ley;
        </li>
        <li>
          Ser informado por el Responsable del Tratamiento o el Encargado del
          Tratamiento, previa solicitud, respecto del uso que le ha dado a sus
          datos personales;
        </li>
        <li>
          Presentar ante la Superintendencia de Industria y Comercio quejas por
          infracciones a lo dispuesto en la presente ley y las demás normas que
          la modifiquen, adicionen o complementen;
        </li>
        <li>
          Revocar la autorización y/o solicitar la supresión del dato cuando en
          el Tratamiento no se respeten los principios, derechos y garantías
          constitucionales y legales. La revocatoria y/o supresión procederá
          cuando la Superintendencia de Industria y Comercio haya determinado
          que en el Tratamiento el Responsable o Encargado han incurrido en
          conductas contrarias a esta ley y a la Constitución;
        </li>
      </ul>
    </Page>

    <Page>
      <ul>
        <li>
          Acceder en forma gratuita a sus datos personales que hayan sido objeto
          de Tratamiento.
        </li>
      </ul>

      <h2>
        <b>VI. PROCEDIMIENTO PARA EJERCER LOS DERECHOS</b>
      </h2>

      <p>
        Para ejercer los derechos de conocer, actualizar, rectificar, suprimir
        información y revocar la autorización en ejercicio de los derechos que
        le asisten para consultar, actualizar, rectificar, suprimir la
        información y revocar la autorización como Titular de la información,
        <b>{{datosInvolucrado.nombreInvolucrado}}</b> ha dispuesto el siguiente
        medio de atención: Correo electrónico:
        <b>{{datosInvolucrado.correoInvolucrado}}</b>
      </p>

      <p>
        El reclamo o consulta se formulará mediante solicitud dirigida a
        <b>{{tratadorDatos.nombreEmpresa}}</b> como Responsable del Tratamiento
        con la identificación del Titular, la descripción de los hechos que dan
        lugar a la consulta o reclamo, la dirección, y acompañando los
        documentos que se quiera hacer valer.
      </p>

      <h2>
        <b>
          VII. FECHA DE ENTRADA EN VIGENCIA DE LA POLÍTICA DE TRATAMIENTO DE LA
          INFORMACIÓN Y PERÍODO DE VIGENCIA DE LA BASE DE DATOS
        </b>
      </h2>

      <p>
        La presente política entra en vigencia a partir de la fecha de su
        publicación en la página web
        <b>{{tratadorDatos.sitioWebEmpresa}}</b> ,la fecha
        {{datosDeAplicacion.fechaAplicacion}}. Los datos personales recolectados
        serán mantenidos por <b>{{tratadorDatos.nombreEmpresa}}</b> en sus bases
        de datos mientras la finalidad por la cual fueron recolectados subsista.
      </p>

      <h2>
        <b>VIII. MODIFICACIONES</b>
      </h2>

      <p>
        <b>{{tratadorDatos.nombreEmpresa}}</b> podrá realizar modificaciones a
        la presente Política de Tratamiento de Datos en cualquier momento, lo
        cual será comunicado de manera previa a través de la página web{" "}
        <b>{{tratadorDatos.sitioWebEmpresa}}</b> , En el evento de requerir
        modificación de las finalidades del tratamiento de datos, se solicitará
        una nueva autorización.
      </p>
    </Page>
  </body>
</html>
