<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello world!</title>
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{poderNotarial.css}" accesskey="true">
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{../main.css}" accesskey="true">
  </head>
  <body>
    <p>CLASE DE ACTO: <b> PODER GENERAL</b></p>

    <p>PERSONAS QUE INTERVIENEN EN EL ACTO:</p>

    <em>PODERANTE</em>
    <table style="width: 100%">
      <tr>
        <td style="text-transform: uppercase">
          <b> {{datosDelPoderante.titularPoderante}}</b>
        </td>
        <td>
          <b>C.C. {{datosDelPoderante.numeroIdentificacionPoderante}}</b>
        </td>
      </tr>
    </table>
    <em>APODERADO</em>
    <table style="width: 100%">
      <tr>
        <td style="text-transform: uppercase">
          <b> {{datosDelApoderado.titularApoderado}}</b>
        </td>
        <td>
          <b>C.C. {{datosDelApoderado.numeroIdentificacionApoderado}}</b>
        </td>
      </tr>
    </table>

    <p>
      En la ciudad de {{InformacionDelPoder.ciudadPoder}}, Departamento de
      <span>{{InformacionDelPoder.departamentoPoder}}</span>, República de
      Colombia, el {{InformacionDelPoder.fechaCreacionPoderFormatoFecha}}, se
      otorga la presente escritura pública, que se consigna en los siguientes
      términos:
    </p>

    <p>
      COMPARECIO: <span>{{datosDelPoderante.titularPoderante}}</span>
      <b>PODERDANTE</b>, mayor de edad, de nacionalidad Colombiana, vecino y
      domiciliado en <span>{{datosDelPoderante.direccionPoderante}}</span>,
      identificado con cédula de ciudadanía número
      <span>{{datosDelPoderante.numeroIdentificacionPoderante}}</span>, obrando
      en su propio nombre, y quien para todos los efectos del presente contrato
      se denominará <b>EL PODERDANTE</b>, manifestó que por medio de la presente
      escritura pública confiere <b>PODER GENERAL AMPLIO Y SUFICIENTE</b> al
      señor(a) <span>{{datosDelApoderado.titularApoderado}}</span>
      <b>APODERADO</b>, mayor de edad, de nacionalidad colombiana, vecina y
      domiciliada en esta ciudad, identificado con CC
      {{datosDelApoderado.numeroIdentificacionApoderado}} , para que en su
      nombre y representación ejecute toda clase de actos y celebre toda clase
      de contratos civiles y comerciales con facultades administrativas y
      dispositivas en general, y en particular las siguientes:
    </p>

    <p>
      <b>PRIMERO: ADMINISTRACIÓN DE BIENES</b>: Para que administre los bienes
      muebles e inmuebles que <b>EL PODERDANTE</b> tenga o llegue a tener, para
      que compre y venda los bienes muebles e inmuebles que adquiera en nombre
      de <b>EL PODERDANTE</b>, en la República de Colombia, y en otros países,
      recaude sus productos y celebre los contratos de administración que sean
      necesarios de el(los) inmueble(s) que <b>EL PODERDANTE</b> tenga o posea,
      incluyendo en éstos los relativos a prestación de servicios bajo el
      régimen civil y mercantil.
    </p>

    <p>
      <b>SEGUNDO: COBROS</b>: Para que cobre, requiera el pago y exija judicial
      o extrajudicialmente cualquier obligación a favor de <b>EL PODERDANTE</b>;
      reciba cualquier cantidad de dinero o especie que le adeuden o lleguen a
      adeudarle, actualmente o en el futuro a <b>EL PODERDANTE</b>, expida los
      recibos y otorgue cancelaciones.
    </p>

    <p>
      <b>TERCERO: PAGOS</b>: Para que pague a los acreedores de
      <b>EL PODERDANTE</b> pudiendo hacer arreglos sobre los términos de pago de
      las respectivas acreencias. Podrá hacer abonos parciales, solicitar
      condonaciones y pactar cualesquiera otras condiciones con los acreedores.
    </p>

    <p>
      <b>CUARTO: CUENTAS</b>: Para que exija cuentas a quienes tengan la
      obligación de rendirlas a <b>EL PODERDANTE</b>, las apruebe o impruebe,
      pague o perciba, según el caso, el saldo respectivo y otorgue el finiquito
      correspondiente.
    </p>

    <p>
      <b>QUINTO: ENAJENACIONES</b>: Para que enajene a título oneroso o gratuito
      los bienes muebles o inmuebles que tenga o adquiera en lo sucesivo
      <b>EL PODERDANTE</b>, incluyendo la enajenación de los derechos
      gananciales y sucesorales que pudieran corresponderle en cualquier
      sucesión. el apoderado podrá ratificar o resciliar cualquier acto
      celebrado por <b>EL PODERDANTE</b> o por la misma apoderado o revocar lo
      que en ejercicio de este poder hubiere modificado.
    </p>

    <p>
      <b>SEXTO: TRANSACCION y/ o CONCILIACION</b>: Para que transija o concilie
      diferencias sobre sus deudas o pleitos relativos a los derechos y
      obligaciones de <b>EL PODERDANTE</b> pudiendo dar prórrogas para la
      cancelación de obligaciones de adeudo o de cualquier otra naturaleza a las
      personas deudoras, con autorización para exigir de éstas las garantías o
      seguridades que a su juicio sean necesarias.
    </p>

    <p>
      <b>SÉPTIMO: GARANTÍAS</b>: Para que asegure las obligaciones de
      <b>EL PODERANTE</b> con prenda sobre sus bienes muebles o hipoteca sobre
      sus bienes inmuebles. EL APODERADO queda facultada para constituir y
      aceptar las garantías o cauciones para garantizar las obligaciones a cargo
      de terceros en favor de <b>EL PODERDANTE</b>.
    </p>

    <p>
      <b>OCTAVO: PRÉSTAMOS</b>: Para que reciba y entregue dinero en calidad de
      mutuo o préstamo con intereses o sin ellos por cuenta de
      <b>EL PODERDANTE</b>.
    </p>

    <p>
      <b>NOVENO: CUENTA CORRIENTE</b>: Para que celebre contratos de cuenta
      corriente, bancaria o mercantil, con facultad expresa para estipular
      intereses, sean de débito o del crédito, llevando la representación de
      <b>EL PODERDANTE</b> ante los bancos o instituciones de crédito en
      general, con los cuales tengan o lleguen a tener operaciones o negocios
      bancarios.
    </p>

    <p>
      <b>DÉCIMO: INSTRUMENTOS NEGOCIABLES</b>: Para que en nombre de
      <b>EL PODERDANTE</b> suscriba, gire, endose, avale, proteste, acepte y
      afiance cheques, letras de cambio, pagarés, cartas de crédito o cualquier
      título valor o documento negociable.
    </p>

    <p>
      <b>DÉCIMO PRIMERO: GRAVÁMENES</b>: Para cuando el apoderado adquiera en
      favor de <b>EL PODERDANTE</b> bienes muebles o inmuebles a cualquier
      título o para venderlos; el apoderado queda facultada para dar
      cumplimiento a la Ley 258 de 1996, modificada por la Ley 854 de 2003,
      pudiendo en consecuencia, declarar sobre el estado civil del
      <b>PODERDANTE</b> y si el (los) inmueble (s) que enajena, o compra,
      esta(n) o queda(n) afectado(s) a <b>VIVIENDA FAMILIAR</b>; o gravarse con
      prenda o hipoteca o permutarlos, para constituirlos, tanto los muebles
      como los inmuebles, en propiedad fiduciaria, darlos en arrendamiento por
      escritura pública o privada, así como también para que constituya
      servidumbres pasivas o activas, a favor o a cargo de los bienes de
      <b>EL PODERDANTE</b>.
    </p>

    <p>
      <b>DÉCIMO SEGUNDO: SOCIEDADES</b>: Para que represente a
      <b>EL PODERDANTE</b> ante las sociedades civiles y comerciales en todo lo
      relacionado con las acciones o intereses sociales que posean en las
      mismas, con derecho a intervenir con voz y voto en las asambleas
      generales, juntas de socios o como miembro de juntas directivas pudiendo
      ejercer los actos de administración que le corresponde como socio o
      miembro de ella con facultad suficiente para cobrar y recibir dividendos y
      participaciones, suscribir acciones, hacer aportes o aumentar los ya
      hechos, y en general todos los derechos y facultades que le corresponde
      como socio.
    </p>

    <p>
      <b>DÉCIMO TERCERO: REPRESENTACIÓN</b> Para que represente a
      <b>EL PODERDANTE</b> ante cualquier corporación, entidad, funcionario,
      empleado, y servidores de las distintas ramas del poder público y sus
      organismos vinculados, o adscritos, de la rama judicial y de la rama
      legislativa del poder público, en cualquier petición, actuación,
      diligencia o proceso, sea como demandante, demandado,
    </p>

    <p>
      coadyuvante de cualquiera de las partes, para iniciar y seguir hasta su
      terminación los procesos, actos o diligencias y actuaciones respectivas.
      Para que asuma la personería <b>EL PODERDANTE</b> ante cualquier autoridad
      cuando se estime conveniente y necesario de tal modo que en ningún caso
      quede sin representación alguna.
    </p>

    <p>
      <b>DÉCIMO CUARTO: IMPUESTOS</b>: Para llevar la representación de
      <b>EL PODERDANTE</b> en todo lo relativo a la declaración de renta y
      complementarios con autorización suficiente para hacer la declaración de
      renta, presentarla y representar al <b>PODERDANTE</b> en cualquier
      reclamación o recursos que crean convenientes.
    </p>

    <p>
      <b>DÉCIMO QUINTO: TERMINACIÓN ANORMAL DE PROCESOS</b>: Para que transija,
      concilie o desista de los juicios, gestiones o reclamos en que intervenga
      en nombre de <b>EL PODERDANTE</b>, y para que reciba cualquier suma de
      dinero o especie por concepto de desistimientos, transacciones o
      conciliaciones por cualquier concepto.
    </p>

    <p>
      <b>DÉCIMO SEXTO: SUSTITUCIONES</b>: Para que el apoderado, constituya
      apoderados para uno o más negocios de carácter judicial, administrativo o
      de policía y para que sustituya total o parcialmente este poder y revoque
      las sustituciones o poderes conferidos. el apoderado queda facultada para
      transigir, conciliar, desistir, recibir y realizar todos los demás actos
      necesarios para la efectiva protección de los intereses de
      <b>EL PODERDANTE</b> y podrá sustituir estas facultades en los apoderados
      especiales o generales que constituya.
    </p>

    <p>
      <b>DÉCIMO SÉPTIMO: ESCRITURAS PÚBLICAS</b>: Para que en nombre de
      <b>EL PODERDANTE</b>, firme cualquier escritura de compraventa de bienes
      muebles o inmuebles, constitución o cancelación de gravámenes,
      constitución de sociedad o aumento de interés social, en cualquier tipo de
      persona jurídica, así como la escritura pública de reforma de los
      estatutos sociales de las sociedades civiles o comerciales de las que haga
      o pueda ser parte <b>EL PODERDANTE</b>.
    </p>
    <p>
      <b>PARÁGRAFO</b>: Queda ampliamente facultada para firmar las
      aclaraciones, ratificaciones, resoluciones y demás actos a que hubiere
      lugar, sobre las escrituras otorgadas por <b>EL PODERDANTE</b> o por el
      apoderado en nombre y representación de aquel
    </p>

    <p>
      <b>DÉCIMO OCTAVO: HERENCIAS O LEGADOS</b>: Para que acepte cualquier
      herencia, con o sin beneficio de inventario, legado o donación y/o repudie
      estos derechos.
    </p>

    <p>
      <b>DÉCIMO NOVENO: REMATE</b>: Para que por cuenta de los créditos
      reconocidos o que se reconozcan a favor de <b>EL PODERDANTE</b>, admita a
      los deudores, en pago, bienes distintos de los que están obligados a dar,
      y para que remate tales bienes en proceso.
    </p>

    <p>
      <b>VIGÉSIMO: ARBITRAMENTO</b>: Para que someta a la decisión de árbitros
      conforme a la sección quinta, Título XXXIII del Código de Procedimiento
      Civil las controversias susceptibles de arbitramento relativas a los
      derechos y obligaciones EL PODERDANTE y para que los represente donde sea
      necesario en el proceso o procesos arbitrales.
    </p>

    <p>
      <b>VIGÉSIMO PRIMERO: GENERAL</b>: En general, para que asuma la personería
      de <b>EL PODERDANTE</b> cuando lo estime conveniente y necesario, de tal
      modo que en ningún caso quede sin representación en sus negocios.
    </p>

    <p>
      Presente
      <b style="text-transform: uppercase"
        >{{datosDelApoderado.titularApoderado}}</b
      >
      <b>(APODERADO)</b>, de las condiciones civiles antes mencionadas, dijo:
      Que acepta el presente instrumento y todas las cláusulas en él contenidas
      en los términos y condiciones aquí expresados.
    </p>

    <p>
      <b>ADVERTENCIA</b>: SE ADVIERTE QUE EL PRESENTE MANDATO SE TENDRÁ POR
      TERMINADO EN CASO DE PRESENTARSE UNA DE LAS CAUSALES CONTEMPLADAS EN EL
      ARTÍCULO 2189 DEL CÓDIGO CIVIL.
    </p>

    <p style="padding: 15px 0px"><b>PODERANTE</b></p>
    <table style="width: 100%; line-height: 17px">
      <tr>
        <td>______________________</td>
      </tr>
      <tr>
        <td>C.C. {{datosDelPoderante.numeroIdentificacionPoderante}}</td>
      </tr>
      <tr>
        <td>CELULAR {{datosDelPoderante.celularPoderante}}</td>
      </tr>
      <tr>
        <td>DIRECCIÓN {{datosDelPoderante.direccionPoderante}}</td>
      </tr>
      <tr>
        <td>CIUDAD {{datosDelPoderante.ciudadPoderante}}</td>
      </tr>
      <tr>
        <td>CORREO {{datosDelPoderante.correoPoderante}}</td>
        <td>HUELLA DEL INDICE</td>
      </tr>
      <tr></tr>
    </table>
    <p style="padding: 15px 0px"><b>APODERADO</b></p>
    <table style="width: 100%; line-height: 16px; margin: 0">
      <tr>
        <td>______________________</td>
      </tr>
      <tr>
        <td>C.C. {{datosDelApoderado.numeroIdentificacionApoderado}}</td>
      </tr>
      <tr>
        <td>CELULAR {{datosDelApoderado.celularApoderado}}</td>
      </tr>
      <tr>
        <td>DIRECCIÓN {{datosDelApoderado.direccionApoderado}}</td>
      </tr>
      <tr>
        <td>CIUDAD {{datosDelPoderante.ciudadPoderante}}</td>
      </tr>
      <tr>
        <td>CORREO {{datosDelApoderado.correoApoderado}}</td>
        <td>HUELLA DEL INDICE</td>
      </tr>
      <tr></tr>
    </table>
  </body>
</html>
