<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello world!</title>
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{cuentaDeCobro.css}" accesskey="true">
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{../main.css}" accesskey="true">
  </head>
  <body>
    <p style="margin-top: 0">
      {{datosDelAcuerdo.ciudadPago}}, {{datosDelAcuerdo.fechaPagoFormatoFecha}}
    </p>
    <div class="cuenta">
      <h1>CUENTA DE COBRO</h1>
      <div style="padding-bottom: 10px; line-height: 18px">
        <p>{{datosDeQuienRecibe.nombreAdeudado}}</p>
        <p>{{datosDeQuienRecibe.nitAdeudado}}</p>
      </div>
      <div style="padding-bottom: 10px; line-height: 18px">
        <b>DEBE A</b>
        <div style="line-height: 18px">
          <p>
            {{datosDeQuienPresenta.nombreCobrador}}
            {{datosDeQuienPresenta.primerApellidoCobrador}}
          </p>
          <p>{{datosDeQuienPresenta.numeroDocumentoCobrador}}</p>
        </div>
      </div>
      <div style="padding-bottom: 10px">
        <b>EL VALOR DE:</b>
        <p>{{datosDelAcuerdo.montoPagoFormatoDinero}} pesos</p>
      </div>
      <b>Por Concepto de:</b>
      <p>{{datosDelAcuerdo.conceptoPago}}</p>
    </div>
    <div style="padding: 10px 0px">
      <b>Observaciones</b>
      <p>{{datosDelAcuerdo.observacionesPago}}</p>
    </div>
    <div style="padding: 10px 0px; line-height: 18px">
      <b>Informacion para el pago</b>
      <p>
        Por favor consignar en:
        <b>
          {{datosDeQuienPresenta.bancoCobrador}} Ahorros numero
          {{datosDeQuienPresenta.numeroCuentaCobrador}} a nombre de
          {{datosDeQuienPresenta.nombreCobrador}}
          {{datosDeQuienPresenta.primerApellidoCobrador}}</b
        >
      </p>
    </div>
    <p>Atentamente,</p>
    <div style="line-height: 18px; padding-top: 15px">
      <p>_______________________</p>
      <p>Alejandro Cabrejo Porras</p>
      <p>Cel: 3132925094</p>
    </div>
  </body>
</html>
