<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello world!</title>
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{rotuloParaEnvios.css}" accesskey="true">
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{../main.css}" accesskey="true">
  </head>
  <body>
    <Page>
      <h1>
        <b>ACUERDO DE CONFIDENCIALIDAD</b>
      </h1>

      <p>
        Este acuerdo de confidencialidad se celebra en la fecha que se indica en
        la página de firma entre las siguientes partes:
      </p>

      <p>
        Por una parte,
        <b> {{parteReveladora.nombreEmpresa}} </b>
        identificada con (Nit o CC).
        <b>{{parteReveladora.numeroDocumentoEmpresa}}</b>, debidamente
        constituida.
      </p>

      <p>
        De la otra parte,
        <b> {{parteReceptora.nombreParteReceptora}}</b>
        , mayor de edad, identificado como aparece al pie de su firma.
      </p>

      <p>
        Para efectos del presente Acuerdo de Confidencialidad (el “Acuerdo”),
        las partes serán denominadas la “Parte Reveladora” y la “Parte
        Receptora” teniendo en cuenta si entregan o reciben información.
      </p>

      <p>
        La Parte Reveladora y la Parte Receptora en adelante “las Partes”, han
        acordado celebrar este acuerdo de confidencialidad bilateral, el cual se
        regirá por las siguientes consideraciones y cláusulas:
      </p>

      <h2>CONSIDERACIONES</h2>
      <ol>
        <li>
          Las Partes desean suscribir el presente Acuerdo con el objeto de
          explorar diferentes alternativas que pueden referirse, pero sin
          limitarse a, estructuras legales, económicas, financieras y
          comerciales, con el objeto de que las Partes evalúen alternativas que
          permitan maximizar sinergias, y explorar una posible alianza
          (“Transacción”);
        </li>
        <li>
          Que es interés de las Partes acordar los términos generales mediante
          los cuales, para permitir que se tome una decisión informada en
          relación con la posible Transacción, se comparta cierta información en
          los términos aquí previstos;
        </li>
        <li>
          Que con el fin de proteger la Información Confidencial (como este
          término se define más adelante), las Partes se comprometen y aceptan
          someterse a las disposiciones del presente Acuerdo;
        </li>
        <li>
          Que con el objetivo de llevar a cabo la Transacción las Partes
          intercambiarán información confidencial;
        </li>
        <li>
          Con motivo de la entrega de la Información Confidencial indicada
          precedentemente, las Partes declaran y convienen en este acuerdo lo
          siguiente:
        </li>
      </ol>

      <p>
        <b>1.- INFORMACIÓN CONFIDENCIAL</b>. La expresión “Información
        Confidencial” comprende en este instrumento todos aquellos datos,
        informes, documentos,
      </p>
    </Page>

    <Page>
      <p>
        interpretaciones, proyecciones, activos intangibles y registros (en la
        forma en que se encuentren o lleguen a encontrar, incluyendo, física o
        electrónica o virtual, escrita, oral, que se encuentre o llegue a
        encontrar en cualquier medio o de cualquier otra forma conocida) que
        contengan o que reflejen de cualquier manera alguna información relativa
        a la Transacción que no se encuentre disponible al público en general y
        que la Parte Reveladora o cualquiera de sus directores, funcionarios,
        empleados,representantes o agentes, incluyendo sin que signifique
        limitación, los asesores de las partes, los asesores financieros y los
        asesores de estos últimos (en adelante, todas las personas mencionadas
        se señalan como “los Representantes”; término que dependiendo del
        contexto se aplicará también a las mismas personas, pero en relación con
        la Parte Receptora) proporcionen o hayan proporcionado en cualquier
        tiempo a la Parte Receptora o sus Representantes en relación a la
        Transacción, incluyendo sin que signifique limitación, toda información,
        o ideas, proyectos entre otras, que se obtenga en reuniones con
        Representantes de la Parte Reveladora, junto con los resúmenes,
        análisis, extractos, compilaciones, notas personales u otros documentos
        o registros, hayan sido elaborados por la Parte Reveladora u otras
        personas, que contengan o que reflejen de cualquier modo la información
        señalada.
      </p>

      <p>
        Se deja constancia que la expresión “Información Confidencial” no
        incluye ninguna información que: (i) a lafecha de divulgación o con
        posterioridad a ella, se encuentre de modo general a disposición del
        público o seade conocimiento de éste sin violación de este Acuerdo, o
        (ii) que la Parte Reveladora apruebe previa y expresamente por escrito
        su divulgación por parte de un tercero sin violación de un acuerdo de
        confidencialidad.
      </p>

      <p>
        El término “persona”, usado en este convenio, se entiende de modo amplio
        e incluye corporaciones, comunidades, asociaciones, sociedades,
        entidades, sociedades de personas, grupos y personas individuales.
      </p>

      <p>
        <b>2.- USO DE LA INFORMACIÓN CONFIDENCIAL</b>. La Información
        Confidencial sólo podrá usarse para efectos de la evaluación por parte
        de la Parte Receptora de la Transacción. La Parte Receptora se obliga a
        guardar toda la Información Confidencial en la más estricta reserva y a
        no divulgar ni revelar ninguna Información Confidencial a ninguna
        persona. No obstante, la Parte Receptora podrá dar a conocer total o
        parcialmente la información Confidencial a sus Representantes y/o
        funcionarios, que tengan necesidad de conocerla, con el fin de evaluar
        la Transacción (en el entendido que dichos Representantes y/o
        funcionarios serán informados de la naturaleza confidencial de la
        información y se les advertirá que no pueden divulgar la Información
        Confidencial a ninguna otra persona, salvo en lo que permite el presente
        contrato).
      </p>
    </Page>

    <Page>
      <p>
        <b>3.- DIVULGACIÓN POR UN PROCESO LEGAL Y POR MANDATO DE LA LEY</b>. En
        caso que la Parte Receptora o cualquiera de sus Representantes y/o
        funcionarios, que tengan necesidad de conocer la Información
        Confidencial, así quede legalmente obligada (sea por citación en juicio
        civil, penal o por investigación legal, interrogatorio,requerimiento de
        documentos, demanda o proceso similar, todo ello por autoridad judicial
        o autorizada por ley) a dar a conocer total o parcialmente la
        Información Confidencial, la Parte Receptora se obliga a comunicar por
        escrito a la Parte Reveladora del hecho de la demanda, citación,
        investigación o requerimiento, etc. de manera que la Parte Reveladora
        pueda interponer las acciones o medidas tendientes a proteger sus
        derechos, con el fin de obtener una contra-orden para que la Parte
        Receptora no se vea obligado a dar a conocer Información Confidencial.
        En todo caso, la Parte Receptora dará a conocer sólo aquella porción de
        la Información Confidencial que se le solicite en la orden, citación,
        juicio, etc.
      </p>

      <p>
        <b>4.- DEVOLUCIÓN O DESTRUCCIÓN DE INFORMACIÓN CONFIDENCIAL</b>. Todas
        las copias de la Información Confidencial recibida, las notas, resúmenes
        y recopilaciones extraídas de dicha información, salvo aquella parte de
        la información que consista en análisis, pronósticos, estudios u otros
        documentos preparados por la parte que recibe la información, sus
        agentes, representantes o empleados, será devuelta a la Parte Reveladora
        dentro delos ocho (8) días hábiles siguientes a la fecha en que fue
        formalmente solicitada a la Parte Receptora o destruida inmediatamente a
        su solicitud. Toda la información que por su naturaleza no deba ser
        destruida, será mantenida en forma confidencial de acuerdo con los
        términos del presente documento y continuará sujeta a los términos de
        este acuerdo.
      </p>

      <p>
        <b>5.- CONTRATO DEFINITIVO</b>. Las Partes convienen que mientras no se
        haya celebrado y perfeccionado un contrato definitivo entre la Parte
        Receptora y la Parte Reveladora con respecto a la Transacción, y a
        excepción de las materias incluidas expresamente en el presente
        convenio, ninguna de las partes ni sus Representantes asume obligación
        alguna respecto de la Transacción ni de su otorgamiento, ni ello podrá
        deducirse del presente documento ni de otros documentos o
        conversaciones.
      </p>

      <p>
        <b>6.- EJERCICIO PARCIAL O TARDÍO DE LOS DERECHOS</b>. Las Partes
        declaran entender y aceptar que el no ejercicio, o el ejercicio parcial
        o tardío de un derecho, facultad o privilegio bajo el presente
        instrumento, no constituirá renuncia al mismo, así como tampoco el
        ejercicio individual de uno de esos derechos hará precluir cualquier
        otro derecho ni impedirá el ejercicio completo o posterior de cualquiera
        de esos derechos, facultades o privilegios.
      </p>
    </Page>

    <Page>
      <p>
        <b>7.- DECLARACIÓN</b>. La Parte Receptora por este medio reconoce y
        acepta que la Parte Reveladora y sus entidades vinculadas y/o afiliadas
        (incluyendo, sin limitación, sus sociedades controlantes y controladas,
        directa e indirectamente, y aquellas entidades sujetas a control común
        directo o indirecto de la Holding) (en adelante, las “Sociedades
        Vinculadas”), realizan una amplia variedad de operaciones de mercado de
        capitales y de actividades de servicios financieros, y pueden, en
        cualquier momento y de tiempo en tiempo, proveer servicios y/o
        financiamiento a clientes que, en ciertas circunstancias, puedan estar
        en una posición de conflicto de interés en la Parte Receptora. En virtud
        de lo previsto anteriormente, no se impone ni se impondrá restricción de
        ningún tipo a la Parte Reveladora o sus sociedades vinculadas para el
        otorgamiento de financiamiento ni la prestación de servicios de
        cualquier tipo a su actual o futura cartera de clientes, y, en
        consecuencia, el contenido del presente no constituye un compromiso de
        exclusividad expreso o implícito de parte de la Parte Reveladora o sus
        sociedades vinculadas.
      </p>

      <p>
        <b>8.- ALCANCE DEL PRESENTE ACUERDO ENTRE LAS PARTES</b>. El presente
        Acuerdo constituye el acuerdo total entre las partes con respecto a la
        materia objeto del mismo. Cualquier modificación, alteración, o renuncia
        sólo tendrá efectos una vez celebrada y suscrita por ambas Partes.
      </p>

      <p>
        <b>9.- NO CIRCUNVENCIÓN</b>. Las Partes declaran y garantizan que se
        abstendrán de negociar directamente o por intermedio de sus vinculadas o
        de terceros, con los clientes, proveedores y/o contrapartes de la otra
        parte a los que tengan o lleguen a tener acceso en virtud de la
        Información Confidencial.
      </p>
      <p>
        En caso de incumplimiento, total o parcial, por parte de cualquiera de
        las Partes en relación con las obligaciones contenidas en esta cláusula,
        la parte incumplida deberá pagar a la parte cumplida todos los daños y
        perjuicios ocasionados como consecuencia de ese incumplimiento, más los
        gastos en que incurra para la protección de sus derechos y el cobro de
        los daños y perjuicios. Estas obligaciones sobreviven incluso por
        cinco(5) años siguientes a la terminación de este Acuerdo, y no antes de
        cinco (5) años siguientes a la fecha en que se suscribe.
      </p>

      <p>
        <b>10.- PLAZO DE VIGENCIA Y LEGISLACIÓN APLICABLE</b>. Se conviene que
        este Acuerdo estará vigente durante todo el tiempo en el cual las Partes
        hagan uso de la Información confidencial objeto de este Acuerdo, y por
        dos (2) años más contados a partir de la terminación del presente
        Acuerdo, y el mismo se regirá e interpretará por las leyes de la
        República de Colombia, con domicilio principal para fines contractuales
        y judiciales en la ciudad de Bogotá.
      </p>
    </Page>

    <Page>
      <p>
        <b>11.- SUCESORES Y CESIONARIOS</b>. El presente Acuerdo se aplicará y
        será obligatorio para ambas Partes y para sus sucesores y cesionarios.
      </p>

      <p>
        <b>12.- SOLUCIÓN DE CONFLICTOS</b>. Toda controversia o diferencia que
        se derive de este contrato se resolverá por un Tribunal Arbitral que
        sesionará en el Centro de Arbitraje y Conciliación de la Cámara de
        Comercio de Bogotá, de acuerdo con las siguientes reglas:
      </p>

      <ol>
        <li>El Tribunal estará integrado por 1 árbitro</li>
        <li>
          El árbitro será designado por las partes de común acuerdo. En caso de
          que no sea posible, será designado por el Centro de Arbitraje y
          Conciliación de la Cámara de Comercio de Bogotá, a solicitud de
          cualquiera de las partes.
        </li>
        <li>
          El procedimiento se sujetará al previsto en la Ley 1563 de 2012 o las
          normas que la modifiquen o sustituyan.
        </li>
        <li>El Tribunal decidirá en derecho.</li>
      </ol>

      <p>
        <b>12.- DOMICILIO</b>. Para efectos del presente documento y con
        cualquier fin, incluso notificaciones, se fijan los siguientes
        domicilios de las partes:
      </p>

      <table>
        <tbody>
          <tr>
            <td></td>
            <td>
              <span></span>
            </td>
          </tr>
          <tr>
            <td>Atención:</td>
            <td>{{parteReceptora.nombreParteReceptora}}</td>
          </tr>
          <tr>
            <td>Dirección:</td>
            <td>{{parteReceptora.direccionParteReceptora}}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>{{parteReceptora.correoParteReceptora}}</td>
          </tr>
          <tr>
            <td>Teléfono:</td>
            <td>{{parteReceptora.telefonoParteReceptora}}</td>
          </tr>
        </tbody>
      </table>

      <p>
        La parte firmante autoriza el tratamiento de sus datos personales
        conforme a las políticas vigentes y publicadas.
      </p>
    </Page>
  </body>
</html>
