<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello world!</title>
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{politicasDeCookies.css}" accesskey="true">
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{../main.css}" accesskey="true">
  </head>
  <body>
    <Page>
      <h1>{`POLÍTICA DE COOKIES ${ web?.name }`}</h1>
      <p>
        <span>{ web?.name }</span>. En adelante, “<span>{ web?.name }</span>” es
        una sociedad constituida conforme a las leyes colombianas, la cual
        administra y opera el Sitio Web por medio de la cual se conectan 2 (2)
        tipos de usuarios: i) Usuarios/Consumidores, quienes
        <span>{ web?.WebSiteLegal }</span> a través del Sitio Web adquieren los
        servicios de formatos y minutas ; ii) <span>{ web?.name }</span> de del
        Sitio Web “<span>{ web?.name }</span>”, quienes aceptan de manera libre
        y voluntaria la gestión de las órdenes solicitadas por los
        Usuarios/Consumidores por medio del Sitio Web de
        <span>{ web?.name }</span>.
      </p>

      <p>
        Por medio de la presente POLÍTICA DE COOKIES (en adelante “Política de
        Cookies”) se da a conocer a los Usuarios/Consumidores que tengan
        relación con <span>{ web?.name }</span> el tratamiento que se le da a
        las cookies en su Sitio Web y a la información personal recolectada y
        almacenada por las mismas.`
      </p>

      <p>
        Se aclara que con el propósito de proteger la información personal
        recolectada y almacenada por las Cookies sobre los Usuarios/Consumidores
        que tengan relación con <span>{ web?.name }</span> la presente Política
        de Cookies da cumplimiento estricto a la política de Privacidad de
        <span>{ web?.name }</span> (S.A.S.),`
      </p>

      <h2>NATURALEZA JURÍDICA</h2>
      <p>
        Por medio de la presente Política de Cookies se identifican el tipo de
        Cookies que se usan en el Sitio Web de <span>{ web?.name }</span> y el
        uso que se le dará a las mismas.
      </p>

      <h2>DEFINICIONES</h2>

      <p>
        <b>Datos personales:</b> Cualquier información concerniente o vinculada
        a personas naturales determinadas o determinables.
      </p>

      <p>
        <b>Base de datos personales:</b> Conjunto organizado de datos personales
        que son objeto de tratamiento por una persona natural o jurídica.
      </p>
      <p>
        <b>Cookies:</b> Archivos que recolectan información sobre los hábitos de
        navegación e inclinaciones de consumo de un Usuario/Consumidor en el
        Sitio Web <span>{ web?.name }</span> y eventualmente podrían conformar
        una base de datos. Las Cookies son recuperadas y almacenadas por
        <span>{ web?.name }</span>, para la consulta de las actividades y
        preferencias de los Usuarios/Consumidores. Por medio de la información
        recuperada,
      </p>
    </Page>

    <Page>
      <p>
        <span>{ web?.name }</span>. podrá identificar cómo mejorar el servicio
        ofrecido.`
      </p>

      <p>
        <b>Comercio Electrónico: </b>Comprende el envío, transmisión, recepción,
        almacenamiento de mensajes de datos por vía electrónica. Las dudas que
        surjan respecto de la eficacia y validez de los mensajes de datos y
        demás actividades vinculadas al comercio electrónico se interpretarán de
        conformidad con la ley 527 de 1999.
      </p>

      <p>
        <b>Sitio Web:</b>
        Serie de archivos o páginas web interrelacionadas entre sí e
        identificadas por un mismo nombre de dominio, los cuales pueden ser
        accedidos por cualquier persona utilizando un navegador de internet. El
        Sitio Web de <span>{ web?.name }</span> se encuentra en la siguiente
        dirección electrónica: <span>{ web?.urlWebSite }</span>
      </p>

      <p>
        <b>Mensajes de datos:</b>
        La información generada, enviada, recibida, almacenada o comunicada por
        medios electrónicos, ópticos o similares, como pudieran ser, entre
        otros, el Intercambio Electrónico de Datos (EDI), Internet, el correo
        electrónico, el telegrama, el télex o el telefax (Ley 527 de 1999
        artículo. 2 literal (a).
      </p>

      <p>
        <b>Titular del dato personal:</b>
        Persona natural cuyos datos son objeto de tratamiento. En el contexto de
        la presente Política de Cookies, los titulares podrán ser: (i)
        Suscriptores/Clientes de la plataforma; (ii) proveedores (iv) todas
        aquellas personas no vinculadas a <span>{ web?.name }</span> de quien se
        haga tratamiento de los datos personales.
      </p>

      <p>
        <b>Tratamiento: </b>Es cualquier operación o conjunto de operaciones
        sobre Datos Personales, tales como la recolección, almacenamiento, uso,
        circulación o supresión.
      </p>

      <p>
        <b>Usuarios/Consumidores:</b>
        Toda persona natural que, como destinatario final, usa el Sitio Web para
        solicitar la adquisición de productos y/o servicios exhibidos, ofrecidos
        y comercializados a través de la misma.
      </p>

      <p>
        <b>Web Beacon:</b>
        Imágenes insertadas en un sitio web o correo electrónico y permiten
        monitorear el comportamiento de un visitante del sitio web, almacenar
        información sobre la dirección IP del Usuario/Consumidor, conocer la
        duración del tiempo de interacción en dicho sitio y el tipo de navegador
        utilizado.
      </p>

      <h2>TIPOS DE COOKIES UTILIZADAS</h2>
      <p>
        <span>{ web?.name }</span> utiliza en su Sitio Web las siguientes
        Cookies:
      </p>

      <p>
        <b>Cookies de Sesión:</b>
        Aquellas cookies que recolectan información relativa al acceso y uso del
        Sitio Web mientras el Usuario/Consumidor navega en el mismo y se
        conservan únicamente durante el tiempo de navegación.
      </p>
    </Page>

    <Page>
      <p>
        <b>Cookies Persistentes:</b>
        Aquellas que se almacenan durante un tiempo limitado en el navegador del
        Usuario/Consumidor, aun cuando éste ha finalizado de navegar por el
        Sitio Web.
      </p>

      <p>
        <b>Cookies Técnicas:</b>
        Aquellas que son imprescindibles para el efectivo funcionamiento del
        Sitio Web.
      </p>

      <p>
        <b>Cookies Funcionales:</b>
        Aquellas que almacenan las preferencias establecidas por los
        Usuarios/Consumidores y son necesarias para ofrecer correctamente los
        servicios solicitados por los mismos. Por ejemplo, se almacena
        información como el idioma de preferencia del Usuario/Consumidor, la
        dirección usual de envió etc.
      </p>

      <p>
        <b>Cookies Analíticas:</b>
        Aquellas que permiten conocer el comportamiento de navegación de los
        visitantes en el Sitio Web, así como registrar los contenidos que ven y
        los que son de su interés. La finalidad del uso de estas Cookies es
        mejorar el servicio que se le ofrece a los Usuarios/Consumidores.
      </p>

      <p>
        <b>Cookies Sociales:</b>
        Aquellas que permiten ofrecer funcionalidades relacionadas con redes
        sociales (Facebook, Google y Twitter) al permitir y controlar la
        interacción de estas con widgets sociales en el Sitio Web de___________.
      </p>

      <p>
        <b>Cookies de Publicidad:</b>
        Aquellas que recopilan información sobre las preferencias y elecciones
        del Usuario/Consumidor con el fin de ofrecerle publicidad en el Sitio
        Web relacionada con sus intereses.
      </p>

      <p>
        <b>Cookies de Identificación:</b>
        Aquellas que permiten identificar a los Usuarios/Consumidores visitantes
        del Sitio Web y así establecer coincidencias con los datos personales
        incluidos en nuestros archivos, para poder enviar comunicaciones
        personales pertinentes.
      </p>

      <h2>FINALIDADES DEL USO DE COOKIES</h2>

      <p>
        <b>Seguridad: </b>
        Se utilizan Cookies y tecnologías similares para que las interacciones
        del Usuario/Consumidor con el Sitio Web sean más rápidas y seguras. De
        esta manera, se busca detectar actividad sospechosa o fraudulenta con la
        cuenta del Usuario/Consumidor que está visitando el Sitio Web.
      </p>

      <p>
        <b>Autenticación: </b>
        Se utilizan Cookies y tecnologías similares para reconocer e identificar
        al Usuario/Consumidor cuando visite el Sitio Web.
      </p>

      <p>
        <b>Personalización:</b>
        Se utilizan Cookies y tecnologías similares para personalizar la
        experiencia del Usuario/Consumidor al visitar el Sitio Web. Por ejemplo,
        se utilizan Cookies para recordar las búsquedas anteriores, de modo que,
        cuando el Usuario/Consumidor vuelva a visitar Sitio Web, podamos
        ofrecerte información adicional relacionada con su búsqueda anterior.
      </p>
    </Page>
    <Page>
      <p>
        <b>Preferencias:</b>
        Se utilizan Cookies para recordar información sobre el navegador y las
        preferencias del Usuario/Consumidor.
      </p>

      <p>
        <b>Publicidad:</b>
        Se utilizan Cookies y tecnologías similares para mostrarle al
        Usuario/Consumidor publicidad relevante de forma más eficaz, tanto
        dentro como fuera del Sitio Web, y a medir el rendimiento de los
        anuncios. De igual forma, se utilizan para obtener más información sobre
        el rendimiento del Sitio Web, los servicios ofrecidos a través de la
        misma y complementos en diferentes ubicaciones.
      </p>

      <p>
        <b>Rendimiento, análisis e investigación:</b>
        Se utilizan Cookies y tecnologías similares para obtener más información
        sobre el rendimiento del Sitio Web y los servicios ofrecidos a través de
        la misma y complementos en diferentes ubicaciones. Se utilizan para
        desarrollar estudios internos sobre los intereses, comportamientos y
        demografía de los Usuarios/Consumidores, para comprender mejor sus
        necesidades e intereses, mejorar las iniciativas comerciales y
        promocionales de <span>{ web?.name }</span>, y así personalizar sus
        contenidos, su presentación y servicios, mostrar publicidad o
        promociones, banners, de interés para los Usuarios/Consumidores.
      </p>

      <p>
        Se aclara que en caso de realizarse recolección de Datos Personales por
        medio del uso de Cookies en el Sitio Web, dicho Datos Personales serán
        tratados únicamente conforme a las finalidades y principios rectores que
        están establecidos en la política de Privacidad de
        <span>{ web?.name }</span> y a la Autorización de Tratamiento de Datos
        Personales Usuarios de <span>{ web?.name }</span>.
      </p>

      <h2>FORMAS DE CONTROLAR EL USO DE COOKIES</h2>
      <p>
        Los Usuarios/Consumidores tienen la posibilidad de borrar, restringir o
        bloquear el uso de Cookies en el Sitio Web de
        <span>{ web?.name }</span> o cualquier otro sitio o página web. Las
        Cookies se pueden controlar por medio del navegador, no obstante, cada
        navegador tiene su propia forma operativa de control de Cookies.
      </p>
      <p>
        A continuación, se encuentran los diferentes tipos de navegadores y
        haciendo click sobre cada uno se encuentra la opción de controlar las
        Cookies:
      </p>

      <ul>
        <li>Internet Explorer</li>
        <li>Mozilla</li>
        <li>Google Chrome</li>
        <li>Safari</li>
      </ul>
    </Page>
    <Page>
      <p>
        Se aclara que el uso de Cookies permite a
        <span>{ web?.name }</span> darle al Usuario/Consumidor una mejor
        experiencia al visitar el Sitio Web y al acceder a los servicios
        ofrecidos en la misma. En caso de realizar modificaciones en la
        configuración de las Cookies, <span>{ web?.name }</span> no asegura el
        correcto funcionamiento de las distintas funcionalidades de su Sitio
        Web.
      </p>

      <h2>CANAL DE CONTACTO SOBRE EL USO DE COOKIES</h2>
      <p>
        El Usuario/Consumidor que desee realizar cualquier consulta sobre el uso
        de Cookies en el Sitio Web podrá contactar a:
        <span>{ web?.contact }</span>
      </p>

      <h2>MODIFICACIONES A LA POLÍTICA DE COOKIES</h2>
      <p>
        Con el propósito de siempre mejorar el Sitio Web, se aclara que esta
        Política de Cookies podrá tener actualizaciones. Por lo tanto, se le
        recomienda al Usuario/Consumidor visitar periódicamente la misma con el
        fin de estar enterado de los cambios.
      </p>
    </Page>
  </body>
</html>
