<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello world!</title>
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{memorandoDeEntendimiento.css}" accesskey="true">
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{../main.css}" accesskey="true">
  </head>
  <body>
    <h1>
      <b>MEMORANDO DE ENTENDIMIENTO ENTRE</b>
      <span>{{datosPrimerParticipante.nombrePrimerInvolucrado}}</span> <b>Y</b>
      <span>{{datosSegundoParticipante?.nombreDestinador}}</span>
    </h1>

    <p>
      De una parte, <span>{{datosPrimerParticipante?.name}}</span>, identificado
      con cedula de ciudadania No.
      <span>{{datosPrimerParticipante?.IdentificacionPrimerInvolucrado}}</span>.
    </p>
    <p>
      De otra parte, <span>{{datosSegundoParticipante.name}}</span>,
      identificado con cedula de ciudadania No.
      <span>{datosSegundoParticipante.numeroDocumentoDestinatario}</span>
      expedida en .
    </p>
    <p>
      Acuerdan celebrar el presente memorando de entendimiento, el cual se
      regirá por las clausulas que adelante se expresan, previas las siguientes
      consideraciones:
    </p>

    <h2>
      <b>CONSIDERACIONES:</b>
    </h2>

    <ul>
      <li>
        Que el
        <span>{{datosPrimerParticipante.nombrePrimerInvolucrado}}</span> tiene
        dentro de sus responsabilidades de cumplir y llevar a cabo el desarrollo
        de estrategias para contribuir a la transformacion de la misma.
      </li>
    </ul>

    <p>
      Por ello, “las Partes” acuerdan celebrar el presente Memorando de
      Entendimiento (en adelante “Memorando”) sujeto a las siguientes clausulas:
    </p>

    <p>
      <b>PRIMERA: OBJETO.</b> “Las Partes” celebran el presente Memorando con el
      fin de generar compromisos reciprocos a traves de la adopcion de acciones
      <span>{tema.contexto}</span>.
    </p>

    <p>
      <b>SEGUNDA: AMBITO DE COOPERACION.</b> La cooperacion estara orientada a
      la participacion activa de <span>{datosPrimerParticipante.name}</span> y
      <span>{destinatario?.name}</span> en el marco del Convenio de la siguiente
      manera:
    </p>

    <p>
      2.1. <span>{destinatario?.name}</span>. 2.2. se compromete a adelantar las
      acciones necesarias para <span>{tema.firmante2}</span> 2.3. Por su parte,
      <span>{datosPrimerParticipantename}</span>, se compromete a
      <span>{tema.firmante1}</span>. A traves de este acompannamiento se
      pretenden de forma conjunta con realizar <span></span> , donde se pueda
      sensibilizar a.
    </p>

    <p>
      2.4. Asi mismo, <span>{tema?.contacto}</span> se compromete a facilitar la
      interlocucion entre la <span>{destinatario?.name}</span> y el equipo del
      <span>{datosPrimerParticipantename}</span> encargado de establecer los
      lineamientos, a fin de socializar dicha informacion que permita a su vez
      la replica al interior del ente territorial.
    </p>
    <p>
      <b>TERCERA: METODOLOGIA DE TRABAJO.</b> Para la ejecucion de este
      Memorando de Entendimiento, las Partes acuerdan:
    </p>
    <p>
      Conformacion de un Comite de Trabajo Conjunto, integrado por quienes
      designen las Partes, profesionales idoneos para abordar los temas y areas
      del conocimiento que se requieren para el cumplimiento del objeto del
      presente Memorando de Entendimiento, los cuales elaboraran un Plan de
      Trabajo para presentacion a las Partes.
    </p>
    <p>
      Realizacion de reuniones y sesiones de trabajo, de acuerdo con el Plan de
      Trabajo que se defina para el desarrollo de las actividades requeridas,
      segun el acuerdo mutuo de cooperacion.
    </p>
    <p>
      Disposicion para evaluacion y verificacion de documentos o informacion que
      hayan sido producidos, recaudados o conocidos por cualquiera de las Partes
      en desarrollo de sus funciones, considerados como insumo esencial y
      prioritario para el desarrollo de las tareas que se deriven en
      cumplimiento del presente Memorando de Entendimiento.
    </p>

    <p>
      <b>CUARTA: COMITE DE TRABAJO CONJUNTO.</b> Las partes dispondran de la
      conformacion de un “Comite de Trabajo Conjunto”, integrado por parte del
      <span></span> por quien designe el (la) Director (a) <span></span>, para
      que se encarguen de coordinar la ejecucion de las acciones orientadas al
      cumplimiento del objeto del presente memorando, quienes elaboraran un Plan
      de Trabajo con cronograma de actividades, con base en el presente Acuerdo,
      que serapresentado a cada una de las Partes para su seguimiento.
    </p>

    <p>
      <b>QUINTA: NATURALEZA DEL MEMORANDO DE ENTENDIMIENTO.</b> Las Partes
      reconocen y aceptan que este Memorando no crea ningun derecho ni impone
      vinculos legalmente obligatorios, incluyendo cualquier derecho para las
      Partes o para terceros. Este Memorando establece de buena fe declaraciones
      de intencion de <span></span> y de <span></span>, respecto a los
      principios que orientan y facilitan la realizacion coordinada de
      actividades y esfuerzos en desarrollo de sus respectivas funciones. El
      acuerdo se viabilizara a traves de los respectivos instrumentos
      contractuales, los cuales deberan cumplir los requisitos legales y
      presupuestales.
    </p>

    <p>
      <b>SEXTA: GRATUIDAD DEL MEMORANDO DE ENTENDIMIENTO.</b> Las Partes
      declaran que por la celebracion, ejecucion y desarrollo del presente
      memorando no se generara ningun tipo o clase de erogacion economica a
      cargo de las partes como contraprestacion por la ejecucion del Memorando,
      por lo mismo no habra erogacion alguna de dinero por el objeto o ejecucion
      del Memorando siendo este un instrumento de coordinacion gratuito.
    </p>
    <p>
      Por tanto, las Partes no seran responsables por alguna situacion que
      pudiera ser considerada como un impedimento en la ejecucion del presente
      Memorando de entendimiento.
    </p>
    <p>
      <b>PARAGRAFO.</b> El presente Memorando de Entendimiento no constituye un
      vinculo laboral o prestacional entre las Partes o sus empleados, por lo
      cual, aquellas no tendran derecho a ninguna prestacion laboral o de
      cualquier otra naturaleza.
    </p>
    <p>
      <b>SEPTIMA: SOLUCION DE CONTROVERSIAS Y LEY APLICABLE</b> En caso de
      suscitarse alguna controversia entre “Las Partes” en la interpretacion o
      implementacion del presente Memorando, las mismas se comprometen a
      realizar sus mejores esfuerzos a fin de solucionarla.
    </p>
    <p>
      El presente Memorando se regira por las leyes de la Republica de Colombia.
    </p>

    <p>
      <b>OCTAVA: RESPONSABILIDAD DE LAS PARTES.</b> Atendiendo la naturaleza del
      presente Memorando y que su fin es explorar vinculos de compromiso entre
      las Partes conforme lo expuesto en las Consideraciones y en la clausula
      primera del Memorando, las Partes acuerdan que actuarán de buena fe en
      cuanto a la busqueda de vinculos de asistencia entre ellas. En el evento
      que las Partes no logren consensuar vinculos de asistencia o los acordados
      resultan ser insuficientes, las Partes acuerdan que no se genera
      responsabilidad de ningun tipo para ellas.
    </p>

    <p>
      <b>NOVENA: CONFIDENCIALIDAD.</b> La parte que reciba informacion (“Parte
      Receptora”) se obliga a mantener bajo reserva toda la informacion que sea
      de propiedad de y/o revelada por la parte reveladora (“Parte Reveladora”)
      que no sea de dominio publico (en adelante, la “Informacion
      Confidencial”). En este sentido, la Parte Receptora evitara revelar la
      Informacion Confidencial a terceras personas y debera protegerla,
      custodiando por lo menos con la misma diligencia y cuidado que usa para
      proteger su propia informacion secreta. No obstante lo anterior, la Parte
      Receptora podra revelar la Informacion Confidencial a las autoridades
      competentes para los fines y en los casos previstos expresamente en la
      ley, cuando ello sea necesario en cumplimiento de obligaciones y deberes
      legales. En tal caso, la Parte Receptora debera informar el hecho
      previamente a la Parte Reveladora, indicando la autoridad a la cual sera
      revelada, asi como los motivos que justifican su proceder.
    </p>

    <p>
      La Parte Receptora se obliga a que unicamente tendran acceso a la
      Informacion Confidencial las personas que deban conocerla con motivo del
      objeto de Memorando, quienes previamente a conocerla se deberan acoger a
      las mismas obligaciones establecidas en la presente clausula.
    </p>

    <p>
      A la terminacion del presente Memorando, la Parte Receptora se obliga a
      devolver a la Parte Reveladora todo el material que contenga Informacion
      Confidencial, y a borrarla de sus archivos. Le es prohibido a la Parte
      Receptora hacer copias de los elementos tangibles en los cuales consta la
      Informacion Confidencial.
    </p>

    <p>
      La obligacion de confidencialidad a cargo de la Parte Receptora se
      prolongara durante 10 anos, contados a partir de la fecha de terminacion
      del presente Memorando.
    </p>

    <p>
      La obligacion de confidencialidad antes descrita, quedara exceptuada en
      los siguientes casos:
    </p>

    <ul>
      <li>
        a) Cuando la Parte Receptora haya desarrollado de forma independiente la
        informacion, sin referencia al uso de la Informacion Confidencial de la
        Parte Reveladora;
      </li>
      <li>
        b) Que sea del dominio publico sin violar la obligacion de
        confidencialidad o que sea del dominio publico de la Parte Reveladora;
      </li>
      <li>
        c) Que sea divulgada con previa autorizacion por escrito de la Parte
        Reveladora
      </li>
    </ul>

    <p>
      <b>DECIMA: PLAZO.</b> El presente Memorando entrara en vigor en la fecha
      de su firma y tendra un plazo de <span>{emision?.prorrogable}</span> (__)
      anos, prorrogable automaticamente por plazos iguales y sucesivos.
      Cualquiera de “las Partes” podra rescindirlo con o sin expresion de causa,
      mediante comunicacion fechaciente a la otra, requiriendo al menos
      <span>{emision?.anticipacion}</span> (__) meses de anticipacion en este
      ultimo supuesto. La rescision no afectara las actividades de cualquier
      tipo que ya tengan principio de ejecucion dentro del marco de cooperacion
      que fuera establecido y que no hayan finalizado completamente al momento
      de terminacion de este Memorando.
    </p>

    <p>
      <b>DECIMA PRIMERA: </b> INTEGRIDAD DEL MEMORANDO. Este Memorando y sus
      modificaciones, si las hubiere, constituyen un acuerdo integral entre las
      partes que lo suscriben en relacion con los temas incluidos en el mismo.
      Asi mismo, este Memorando contiene en su integridad las estipulaciones
      entre las Partes sobre la materia objeto del mismo y deja sin efecto
      cualquier otro acuerdo anterior sobre el mismo asunto.
    </p>
    <p>
      <b>DECIMA SEGUNDA:</b> MODIFICACIONES. Las partes tienen la posibilidad de
      revisar continuamente el alcance de este Memorando de Entendimiento con el
      fin de incorporar de comun acuerdo, las modificaciones que se consideren
      necesarias para garantizar la coordinacion mutua y el debido cumplimiento
      de su objeto.
    </p>

    <p>
      El presente Memorando podra modificarse unicamente por escrito y por mutuo
      acuerdo de las partes. DECIMA TERCERA: DOMICILIO. Para todos los efectos
      legales del presente Memorando de Entendimiento, las partes declaran como
      domicilio la ciudad de Bogota, D.C.
    </p>
    <p>
      <b>DECIMA CUARTA. PERFECCIONAMIENTO.</b> El presente Memorando de
      Entendimiento se perfecciona con la firma de las Partes.
    </p>
    <p>
      En prueba de conformidad, se firman en Bogota, Colombia, a los castellano.
    </p>

    <footer className="{" styles.footer}>
      <div>
        <span></span>
        <b>MINISTRO</b>
      </div>
      <div>
        <span></span>
        <b>GOBERNADOR X</b>
      </div>
    </footer>
  </body>
</html>
