<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello world!</title>
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{rotuloParaEnvios.css}" accesskey="true">
    <!-- prettier-ignore -->
    <link rel="stylesheet" href="{../main.css}" accesskey="true">
  </head>
  <body>
    <h1>
      CONTRATO INDIVIDUAL DE TRABAJO POR DURACIÓN DE LA OBRA O LABOR CONTRATADA
    </h1>
    <p>
      Entre <b> {{datosDelEmpleado.nombreEmpleado}}</b> quien para los efectos
      legales se denomina el trabajador y
      <b>{{datosDelEmpleador.nombreRepLegalEmpresa}}</b>
      quien para los efectos legales se denominan el empleador, personas mayores
      de edad y vecinas de esta ciudad, identificadas como aparece al pie de
      nuestras correspondientes firmas establecen el siguiente contrato con
      duración por la obra o labor contratada:
      <b>{{datosDelContrato.funcionesEmpleado}}</b> el cual se regirá por las
      siguientes cláusulas especiales:
    </p>
    <p>
      <b>PRIMERA:</b> El empleador contrata los servicios personales del
      trabajador para desempeñar los oficios, a partir del
      {{datosDelContrato.fechaInicioContrato}} en un horario de
      {{datosDelContrato.horarioEntradaEmpleado}} a
      {{datosDelContrato.horarioSalidaEmpleado}}, labor que desarrollará en
      {{datosDelEmpleador.direccionEmpresa}} de la ciudad de
      {{datosDelEmpleador.ciudadEmpresa}}. Devengando un salario de
      {{datosDelContrato.salarioContrato}} pesos mensuales, pagaderos en
      {{datosDelContrato.metodoPago}} el dia {{datosDelContrato.diaPago}} de
      cada mes
    </p>
    <p>
      <b>SEGUNDA:</b> Son obligaciones especiales del trabajador: Colocar al
      servicio del empleador toda su capacidad normal de trabajo, de manera
      exclusiva, en el desempeño de las funciones propias del cargo contratado y
      en las labores conexas y complementarias del mismo, en consideración con
      las órdenes e instrucciones que le imparta al empleador o sus
      representantes; No prestar directa ni indirectamente servicios laborales a
      otros empleadores, ni trabajar por cuenta propia en el mismo oficio,
      durante la vigencia del presente contrato; Laborar la jornada ordinaria en
      los turnos y dentro del horario señalado en este contrato, pudiendo el
      empleador efectuar ajustes o cambios de horario cuando lo estime
      conveniente. Las demás consagradas en el artículo 58 del Código Sustantivo
      del Trabajo.
    </p>
    <p><b>TERCERA:</b> Son obligaciones especiales del empleador:</p>
    <ul>
      <li>
        Proveer al trabajador con las herramientas y elementos necesarios para
        la realización de su trabajo.
      </li>
      <li>Proveer al trabajador con los elementos de protección personal</li>
      <li>
        Prestar al trabajador los primeros auxilios en caso de accidente laboral
      </li>
      <li>Pagar la remuneración de la forma pactada.</li>
      <li>
        Respetar al trabajador en lo que respecta a su dignidad, creencias y
        sentimientos.
      </li>
      <li>
        Conceder al trabajador los permisos o licencias a las que tenga derecho.
      </li>
      <li>Expedir la certificación laboral que solicitare el trabajador</li>
      <li>
        Pagar los gastos en caso de traslado, cambio de ciudad o residencia.
      </li>
      <li>
        Todas las contempladas en el Código Sustantivo del Trabajo y demás
        concordantes.
      </li>
    </ul>

    <p>
      <b>CUARTA:</b>Como contraprestación por su labor, el empleador pagará al
      Trabajador el salario estipulado, el cual deberá cancelar en la fecha y
      lugar indicado, quedando establecido que en dicho pago se halla incluida
      la remuneración correspondiente a los descansos dominicales y festivos de
      qué tratan los artículos 172 a 178 del Código Sustantivo del Trabajo.
    </p>

    <p>
      <b>QUINTA:</b> El trabajo suplementario o en horas extras, así como todo
      trabajo en domingo o festivo en los que deba concederse descanso, será
      remunerado conforme a la Ley, al igual que los respectivos recargos
      nocturnos. Es de advertir que dicho trabajo debe ser autorizado por el
      empleador o sus representantes, para efecto de su reconocimiento y pago.
    </p>
    <p>
      <b>SEXTA:</b> Son justas causas para dar por terminado unilateralmente el
      presente contrato, por cualquiera de las partes, las expresadas en los
      artículos 62 y 63 del Código Sustantivo del Trabajo, en concordancia con
      las modificaciones introducidas por el artículo 7o. del Decreto 2351 de
      1965.
    </p>
    <p>
      <b>SÉPTIMA:</b> Aunque el lugar de trabajo es el indicado en este
      contrato, las partes pueden acordar que el mismo se preste en sitio
      diferente, siempre que las condiciones del trabajador no sufran desmejoría
      o se disminuya su remuneración o le cause perjuicio. De todos modos,
      corren por cuenta del empleador los gastos que ocasione dicho traslado.
    </p>
    <p>
      <b>OCTAVA:</b> El trabajador desde ahora acepta los cambios de oficio que
      decida el empleador, siempre que sus condiciones laborales se mantengan,
      se respeten sus derechos y no le causen perjuicios.
    </p>
    <p>
      <b>NOVENA:</b> Es obligación del empleador afiliar al trabajador a la
      seguridad social como es salud, pensión y riesgos laborales, autorizando
      al trabajador el descuento en su salario, los valores que le corresponda
      aportar en la proporción establecida por la ley.
    </p>
    <p>
      <b>DÉCIMA:</b> El plazo del presente contrato será la duración de la obra
      o labor de que trata el párrafo introductorio del contrato y terminará
      junto con aquella sin lugar a renovación o prórroga alguna.
    </p>
    <p>
      <b> DÉCIMA PRIMERA:</b> Nueva obra o cambio del término del contrato. Si
      al finalizar la obra contratada, el empleador desea continuar con el
      trabajador en otra obra distinta a la aquí contratada o vincularlo
      mediante un periodo fijo o término indefinido, se deberá hacer un nuevo
      contrato de trabajo y no se entenderá como prórroga por desaparecer las
      cláusulas contractuales que dieron origen a este contrato.
    </p>
    <p>
      <b> DÉCIMA SEGUNDA:</b> Cualquier modificación al presente contrato debe
      efectuarse por mutuo acuerdo, por escrito y anexarse a este documento.
    </p>
    <p>
      Para constancia se firma por las partes intervinientes, en la ciudad de
      {{datosDelContrato.ciudadContrato}}, en la fecha
      {{datosDelContrato.fechaFirmaContrato}}
    </p>

    <p>
      ________________________ ________________________ EMPLEADOR TRABAJADOR
      C.C. C.C
    </p>
  </body>
</html>
